.service{
  position: relative;
  padding-bottom: 100px;
}
.service_cont{
  width: 100%;
  height: 500px;
  
  /* border: 2px solid red; */
}
.curvedBod img{
  width: 100%;
  height: 50px;
  /* border: 2px solid black; */
  cursor: pointer;
}
.curvedBod{
  position: absolute;
  bottom: 470px;
}

.col{
  height: 100vh;
  /* background-color: black; */
}
.bgrnd{
  background-image: url('https://themesflat.co/html/donalfarm/images/item/house-mountain.png');
  width: 100%;
  /* width: 100%; */
  height: 100%;
  border: 2px solid black;
z-index: 4;
background-position: center;
background-repeat: no-repeat;
}