.Technology_cont{
  background: linear-gradient(to bottom,  #f8c32c 70%, white 30%);
  padding-top: 90px;
  padding-bottom: 80px;
  /* border: 2px solid red; */
}
.box{
  min-height: 500px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
}
.box_cont{
  display: flex;
  justify-content: center;
}
.sub_box{
  width: 480px;
  height: 450px;
}
.box_txt{
  height: 75px;
  width: 87%;
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: 800;
  margin: 0px 0px 20px 29px;
  /* display: none; */

}
/* .box_txt:hover{
  display: none;
}
.box_txt:hover .hov_txt{
  display: block;
}
.hov_txt{
  width: 89.7%;
  height: 460px;
  margin: 0px 0px 18px 20px;
  background-color: #fefefe;
  border-radius: 10px;
  display: none;
} */