

.yellow{
  /* position: relative;   */
  /* margin-top: 100px; */
  height: 425px;
  width: 100%;
  background-color: #f8c32c;
  padding-top: 75px;
  /* z-index: 1; */
}
.box{
  /* position: absolute; */
  /* width: 85%; */
  min-height: 500px;
  /* border: 2px solid rgb(9, 9, 9); */
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  /* display: grid; */
  /* grid-template-columns: repeat(3,1fr); */
  /* z-index: 1;
  top: 100px; */
}
.box_cont{
  /* position: absolute; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* z-index: 5; */
  /* bottom: -60px; */
}
.sub_box{
  width: 480px;
  height: 450px;
  /* border: 2px solid black; */
}
.box_txt{
  height: 75px;
  width: 87%;
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: 800;
  margin: 0px 0px 20px 29px;
  /* display: none; */

}
.box_txt:hover{
  display: none;
}
.box_txt:hover .hov_txt{
  display: block;
}
.hov_txt{
  width: 89.7%;
  height: 460px;
  margin: 0px 0px 18px 20px;
  background-color: #fefefe;
  border-radius: 10px;
  display: none;
}